@charset "UTF-8";

/*背景ドーナツ*/
.background {
	position: relative;
}

[class*="donut_back"] {
	height: 120px;
}

.top_donut_back {
	position: absolute;
	top: -50px;
	right: 0;
	animation: vertical_move_2 5s infinite ease;
}

.bottom_donut_back {
	position: absolute;
	bottom: -60px;
	left: 0;
	animation: vertical_move_1 5s infinite ease;
}

/*トップビュー*/
.area_top_view {
	height: 400px;
	margin: 0 auto;
	background: url("../images/shoo_eye.jpg") no-repeat center bottom;
	background-size: cover;
	display: flex;
	align-items: center;
}

.text_top_view {
	max-width: 300px;
	margin: 0 auto;
	padding: 10px 30px;
	background-color: rgba(222, 148, 137, 0.7);
	border-radius: 30px;
	font: 500 2em/1.5 "M PLUS Rounded 1c", serif;
	text-align: center;
	color: #fff;
	position: relative;
}

[class*="_line"] {
	width: 100%;
	margin: 0;
	position: relative;
}

.under_line {
	padding: 0 0 10px 0;
}

.under_line::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
}

/*エリア_ホーム*/
[class*="area_home"] {
	padding: 60px 0;
}

[class*="_white"] {
	background: #fff;
}

[class*="_brown"] {
	background-color: #e3c7af;
}

/*ヘッド*/
.head_home {
	margin: 0 0 70px;
	text-align: center;
}

.head_home [class*="ttl"] {
	max-width: 150px;
	margin: 0 auto;
	padding: 0 0 10px;
	font: 600 1.5em/1 "Zen Kaku Gothic New", serif;
	letter-spacing: 0.1em;
	position: relative;
}

.head_home [class*=_ja]::after {
	/*見出しのライン部分*/
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #89d3de;
	position: absolute;
	bottom: 0;
	left: 0;
}

/*マップ*/
.map {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	border-radius: 30px;
}

.map iframe {
	width: 100%;
	height: 100%;
	border-radius: 30px;
}
