@charset "UTF-8";

/*トップビュー*/
.area_top_view {
	height: 400px;
	margin: 0 auto;
	background: url("../images/tower_eye.jpg") no-repeat center bottom;
	background-size: cover;
	/*画像が広がった状態で表示される*/
	display: flex;
	align-items: center;
}

.text_top_view {
	max-width: 300px;
	margin: 0 auto;
	padding: 10px 30px;
	background-color: rgba(222, 148, 137, 0.7);
	border-radius: 30px;
	font: 500 2em/1.5 "M PLUS Rounded 1c", serif;
	text-align: center;
	color: #fff;
	position: relative;
}

[class*="_line"] {
	width: 100%;
	margin: 0;
	position: relative;
}

.under_line {
	padding: 0 0 10px 0;
}

.under_line::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
}

/*エリア_ホーム*/
[class*="area_home"] {
	padding: 20px 0 5px;
}

[class*="_white"] {
	background: #fff;
}

/*テキストホーム*/
.area_home_white>.container {
	text-align: center;
}

.desc_small {
	font-size: 0.75em;
}


/*メニューリスト*/
.list_menu {
	max-width: 400px;
	padding: 30px 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	position: relative;
}

.border_none {
	border: none;
}

.list_menu img {
	width: 80%;
}

.list_menu>.description {
	width: 300px;
	margin: 0 auto 20px;
	font-size: 1em;
}

.text_left {
	text-align: left;
	padding: 0 0 0 20px;
}

.description .text_indent {
	padding: 0 0 0 60px;
}

.btn_dropdown {
	max-width: 300px;
	height: 50px;
	margin: 0 auto;
	padding: 15px 40px;
	font: 500 1em/1 "Zen Kaku Gothic New", serif;
	color: #000;
	background-color: #89D3DE;
	border: none;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease 0s;
}

.btn_dropdown:hover {
	opacity: 0.8;
}

.text_dropdown {
	display: none;
	max-width: 300px;
	padding: 0 20px;
	color: #fff;
	background-color: rgba(222, 148, 137, 0.7);
	border-radius: 30px;
	position: absolute;
	top: 30px;
	left: 0;
}

.text_dropdown.active {
	display: block;
	animation: dropup 0.5s 1 ease-out 0s;
}

@keyframes dropup {
	from {
		transform: translateY(50px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}