@charset "UTF-8";

/*背景ドーナツ*/
.background {
  position: relative;
}

[class*="donut_back"] {
  height: 120px;
}

.Atop_donut_back {
  position: absolute;
  top: -50px;
  left: 10px;
  animation: vertical_move_1 5s infinite ease;
}

.Abottom_donut_back {
  position: absolute;
  bottom: -50px;
  right: 19px;
  animation: vertical_move_2 5s infinite ease;
}

.Ntop_donut_back {
  position: absolute;
  top: -50px;
  left: 10px;
  animation: vertical_move_1 5s infinite ease;
}


/*トップビュー*/
.area_top_view {
  height: 400px;
  margin: 0 auto;
  background: url(../images/eyecatch.jpg) no-repeat center center;
  background-size: cover;
}

.text_top_view {
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 20px 10px 0;
  background-color: rgba(222, 148, 137, 0.5);
  border-radius: 10px;
  font: 500 1.5em/1.5 "M PLUS Rounded 1c", serif;
  color: #fff;
  position: absolute;
  top: 160px;
  right: 50px;
  z-index: 50;
}

.text_top_view>span {
  display: block;
  text-indent: 1em;
}

@media screen and (max-width:428px) {

  .text_top_view {
    display: none;
  }

}


/*エリア_ホーム*/
[class*="area_home"] {
  padding: 80px 0;
}

[class*="_white"] {
  background: #fff;
}

[class*="_brown"] {
  background-color: #e3c7af;
}


/*ヘッド*/
.head_home {
  margin: 0 0 70px;
  text-align: center;
}

.head_home [class*="ttl"] {
  max-width: 150px;
  margin: 0 auto;
  padding: 0 0 10px;
  font: 600 1.5em/1 "Zen Kaku Gothic New", serif;
  letter-spacing: 0.1em;
  position: relative;
}

.head_home [class*=_ja]::after {
  /*見出しのライン部分*/
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #89d3de;
  position: absolute;
  bottom: 0;
  left: 0;
}


/*2分割レイアウト*/
.layout_2_div {
  margin: 0 -40px;
}

[class*="imgtext"] {
  max-width: 300px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

[class*="imgtext"] img {
  transition: 0.5s ease 0s;
}

[class*="imgtext"] img:hover {
  transform: scale(0.8);
}